#doze-radiatii, #risc-compus{
	background-color: #eee;
	padding: 40px;
}

h2{
	margin-top: 50px; 
}

/*#selects{
	width: 100%;
}*/

select{

	width: 100%;
	padding: 15px;
	background-color: transparent;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color: var(--favPink);
	border-bottom: 2px solid var(--favPink);
}

select:focus{
    outline: none;
}

#informatii-radiatii, #informatii-radiatii-compuse{
	margin: 50px 0;
}

/*#bttns{
	margin: 30px;
}*/

.info{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding: 20px;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/*#risc-compus .fa{
	font-size: 30px;
	width: 50px;
	color: var(--favPink);
	cursor: pointer;
}*/

label{
	text-align: left;
}

.options{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

fieldset{
	margin: 20px;
}

input[type="number"]{
	margin: 20px 40px;
	width: 40px;
	font-size: 16px;
	padding: 14px;
	text-align: center;
}

input[type="checkbox"]{
	margin: 10px;
}

@media only screen and (max-width: 700px){

	#doze-radiatii{
		padding: 20px;
	}

	#informatii-radiatii{
		margin: 20px 10px;
	}

	h2{
		text-align: left;
	}


}

@media only screen and (max-width: 450px){

	#risc-compus, #doze-radiatii{
		padding: 10px;
	}

	fieldset{
		margin: 20px 0;
	}

	input[type="number"]{
		margin: 0;
	}
}

@media only screen and (max-width: 375px){

	.info{
	
	font-size: 20px;
	
}


}