ol{
	list-style-type: none;
	list-style-position: inside;
	margin: 50px 0;
	padding: 0;
}

li{
	display: flex;
	justify-content: space-between;
	background-color: #ddd;
	font-size: 18px;
	padding: 40px 60px;
	margin: 20px 0 0 0;
	text-transform: capitalize;
	
}

.compoExp{
	margin-top: 0;
	background-color: rgba(0,0,0,0.03);
	font-size: 15px;
	display: none;
	border: 2px solid rgba(0,0,0,0.8)
}

li:nth-child(odd):hover{
	cursor: pointer;
}

#image-cont{
	display: flex;
	justify-content: center;
	position: relative;
	height: 500px;
}


img{
	width: 80%;
	height: auto;
}

@media only screen and (max-width: 1440px){


	li{
		font-size: 14px;
		padding: 40px;
		
	}

	.compoExp{
		font-size: 12px;
	}


	#image-cont{
		height: 400px;
	}

	img{
		width: 75%;
	}
}

@media only screen and (max-width: 1024px){

	img{
		width: 85%;
	}
}

@media only screen and (max-width: 768px){

	img{
		width: 95%;
	}
}

@media only screen and (max-width: 768px){

	img{
		width: 100%;
	}