ol{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

ol li{
	display: flex;
	flex-direction: column;
	font-weight: bold;
	justify-content: space-between;
	list-style-type: none;
	width: 500px;
	padding: 50px 0 30px 0;
}

ol p{
	padding: 0 25px;
}

hr{
	width:100%;
}

h3{
	padding: 50px 0 20px;
}


.underline{
	text-decoration: underline;
}

figure{
	text-align: center;
	margin: 40px;
}