ol{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

li{
	font-weight: bold;
	list-style-type: none;
	width: 500px;
	padding: 50px 0 30px 0;
}

p{
	padding: 0 30px;
}

.underline{
	text-decoration: underline;
}

figure{
	text-align: center;
	margin: 40px;
}