body{
	background-image: url("../Resources/Optimised Images/CT-home-min.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}


/* 

**********************************
**********************************

Code Without Grid - Easier Version 

**********************************
**********************************

*/

#content{
    padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	
}

header{
	background-color: transparent;
	justify-content: flex-end;
}


#container{
	display: flex;
	color: rgb(90,90,90);

}

#letters-container{
	display: flex;
	justify-content: space-between;
	width: 100px;
	align-items: flex-end;
	flex-direction: column;
	height: 180px;
	border-right: 5px solid rgb(90,90,90);;

}

#letters-container div{
   font-size: 70px;
   margin: 0;
   margin-right: 30px;
   line-height: 0.8;
}



#text-container{
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

p{
	margin: 0;
}

p:nth-child(1){
	font-size: 50px;
	line-height: 0.8;
}

p:nth-child(2){
	font-size: 30px;
	color: rgb(255,80,122);
}

#bottom-part{
	margin-top: 180px;
	display: flex;

}

#white-space{
	width: 135px;
	height: 20px;
}


button{
	padding: 15px;
	font-size: 20px;
	font-family: "Futura";
	color: #fff;
	text-align: center;
	width: 280px;
	background-color: rgb(255, 80, 122);
	border: 1px solid rgb(255, 80, 122);
}

button:hover{
	
	background-color: rgb(255, 62, 108);
	border: 1px solid rgb(255, 62, 108);
	cursor: pointer;
}



#ref{
	position: absolute;
    display: flex;
    justify-content: flex-end;
	z-index: 3;
	bottom: 0;
	right: 0;
	left: 0; 
}

#ref button{
	margin-right: 40px;
	padding: 4px;
	width: 100px;
	font-size: 12px;
	background-color: #000;
	color: #fff;
	border: none;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}


#ref button:hover{
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
}



/* 

!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Code with grid - Old version 


*/

/*body{
	display: grid;
	grid-template-columns: 75px auto;
}

#content{
	display: grid;
    grid-template-rows: 25% 20% auto 25%;
    grid-template-columns: 30% 100px 5px auto 5%;
	position: absolute;
	z-index: 1;
	margin-top: 0;
	padding: 0;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	
}

#content{
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
   margin-top: 0;
   

}

.grid {
	background-color: red;
	border: 2px solid #000;
}

.vertical-text-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.vertical-text-container span{
	line-height: 75px;
    height: 75px;
	margin: 0;
	padding-right: 30px;
	font-size: 70px;
	color: rgb(90,90,90);

}

.vertical-line{
	width: 5px;
	height: 100%;
	background-color: rgb(90,90,90);
}

.text-container{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;

}

.text-container p{
	margin: 0 30px;
}

.text-container p:nth-child(1){
	font-size: 50px;
	color: rgb(90,90,90);
}

.text-container p:nth-child(2){
	font-size: 25px;
	color: rgb(255,80,122);
}

.bttn-container{
	display: flex;
	align-items: flex-end;
}

.bttn-container button{
	margin-left: 20px;
	padding: 15px;
	font-size: 20px;
	font-family: "Futura";
	color: #fff;
	text-align: center;
	width: 280px;
	background-color: rgb(255, 80, 122);
	border: 1px solid rgb(255, 80, 122);
}


.bttn-container button:hover{
	
	background-color: rgb(255, 62, 108);
	border: 1px solid rgb(255, 62, 108);
	cursor: pointer;
}
*/


@media only screen and (max-width: 1440px){

#letters-container{
	width: 80px;
	height: 150px;

}

#letters-container div{
   font-size: 50px;
}

p:nth-child(2){
	font-size: 25px;
}


#bottom-part{
	margin-top: 150px;

}

#white-space{
	width: 115px;
}


button{
	width: 260px;
}
}


@media only screen and (max-width: 670px){

	#letters-container{
		width: 60px;
		height: 120px;
	}

	#letters-container div{
	   margin-right: 20px;
	   font-size: 50px;
	}

	#text-container{
		margin-left: 20px;
	}

	p:nth-child(1){
		font-size: 28px;
	}

	p:nth-child(2){
		font-size: 20px;
	}

	#white-space{
		width: 85px;
	}


	button{
		width: 220px;
		font-size: 18px;
	}

}


@media only screen and (max-width: 425px){
	p:nth-child(1){
		font-size: 23px;
	}
	p:nth-child(2){
		font-size: 18px;
	}

	#white-space{
		width: 0;
	}

	#bottom-part{
		justify-content: center;
	}


	button{
		width: 200px;
		font-size: 16px;
	}

	#ref{
		justify-content: center;
	}

	#ref button{
		margin: 0;
	}
}

@media only screen and (max-width: 350px){
	#letters-container{
		width: 50px;
		height: 120px;
	}

	p:nth-child(1){
		font-size: 22px;
	}

	p:nth-child(2){
		font-size: 16px;
	}

	#white-space{
		width: 0;
	}

	#bottom-part{
		justify-content: center;
	}


	button{
		width: 220px;
		font-size: 16px;
	}
}
