#time{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 40px 0;
}

#time p{
    width:80%;
    padding: 0 0px 20px 0; 
    line-height: 20px;
}

#time b{
	font-size: 30px;
}

ol{
	list-style-type: none;
	justify-content: space-between;
	display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-row-gap: 10px;
	grid-column-gap: 10px;
    margin: 80px 10px 0 10px;
    padding-left: 0;
}

li{
	background-color: #ddd;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 1;
	flex-flow: wrap;

}


@media only screen and (max-width: 768px){
	li{
		text-align: left;
	}
}

@media only screen and (max-width: 768px){

    #time{
    	flex-direction: column;
    }
     
    #time p{
    	width: 100%
    }

	img{
		width: 50%;
	}

	ol{
    grid-template-columns: 100%;
}
}



