#time{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 40px;
}

#time p{
    width: 30%;
    line-height: 30px;
}

#time b{
	font-size: 30px;
}

ol{
	list-style-type: none;
	justify-content: space-between;
	display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 10px;
	grid-column-gap: 10px;
    margin: 80px 50px 0 50px;
}

li{
	background-color: #ddd;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 1;
	flex-flow: wrap;

}