/*contine si centreaza videoclipul pe orizontala*/

#videoCont{
	display: flex;
	justify-content: center;
}

video{
	width: 100%;
}



.topografie{

	/*pastreaza layout stanga dreapta pentru casutele de topografie*/
	display: flex;
	justify-content: space-between;
	margin: 0px 0 10px 0;
}

/*formateaza la mod general casutele de topografie (latime, inaltime, centrare- Ox si Oy, culoare text, culoare bg, marime font)*/

.topo{
	width: 40%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 80, 122);
	font-size: 30px;
	color:#fff;
}

.topo:hover{
	cursor: pointer;
}


/*textul mic care suregeaza apasarea pe casutele de topografie*/

.infotext{
	text-align: right;
	color: #aaa;
	margin-top: 0;
	margin-bottom: 40px;
}


/*formateaza separat culoarea de bg a primei casute de topografie - suprascrie la .topo*/
.topo1{
	background-color: rgb(252,122,153)
}

p{
	text-align: justify;
}

.t-box p, span{
	margin: 20px 40px;
	margin-top: 20px;
}

h1{
	margin: 40px;
	text-align: left;
}

.t-box{

	/*height auto permite marirea containerului in functie de inaltimea imaginii ce se schimba periodic pentru pastrarea ratio-ului in functie de diferite rezolutii*/
	height: auto;
	display: flex; /*--pastreaza layout-ul in linie*/
	margin: 60px 0;
}

.allan{
	margin-bottom: 0; /*-- nu mai era nevoie de margine jos intrucat nu mai exista elemente ulterioare*/
}

.info-box{
	width: 75%;  /*--pentru ca pe aceasta rezolutie imaginea ocupa 25% din width-ul elementului tip parent care la randul sau ocupa 100% din latimea disponibila */
	background-color: #eee;
}

img{
	width: 25%;
	height:auto;
}

/*hr{
	position: absolute;
	width: 30%;
	margin-left: 40px;
}*/

.date{
	padding-bottom: 10px;
	padding-right: 30px;
	border-bottom: 1px solid #000;
}


/*
------------------------------------
Responsive Web Design
------------------------------------ 
*/


@media only screen and (max-width: 1440px){

	.topo{
		font-size: 25px;
		height: 80px;
	}

	.info-box{
	width: 76%;
    }

	img{
	width: 24%;
    }

}

@media only screen and (max-width: 1024px){

   .t-box{
	flex-direction: column;
	align-items: center;
	background-color: #ddd;
	border:2px solid #000;
    }


    .allan{
    	flex-direction: column-reverse;
    }

    .info-box{
	width: 100%;
    }

    img{
    	width: 50%;
    }

}

@media only screen and (max-width: 670px){

	p{
		text-align: left;
	}

	.topografie{
		flex-direction: column;
	}

	.topo{
		width: 100%;
		font-size: 20px;
	}

	.topo:nth-child(1){
		margin-bottom: 20px;
	}

	.infotext{
		font-size: 14px;
	}

	hr{
		width: 80%;
	}


}

@media only screen and (max-width: 425px){

	img{
    	width: 100%;
    }

    .t-box p, .t-box h1, .t-box span{
    	margin: 25px 10px;
    }

}

@media only screen and (max-width: 340px){
	span{
		font-size: 14px;
	}
}