#videoCont{
	display: flex;
	justify-content: center;
}

video{
	width: 100%;
}

.topografie{
	display: flex;
	justify-content: space-between;
	margin: 0px 0 10px 0;
}

.topo{
	width: 40%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 80, 122);
	font-size: 30px;
	color:#fff;
}

.topo:hover{
	cursor: pointer;
}

.infotext{
	text-align: right;
	color: #aaa;
	margin-top: 0;
	margin-bottom: 40px;
}

.topo1{
	background-color: rgb(252,122,153)
}

p{
	
	text-align: justify;
}

.t-box p, span{
	margin: 20px 40px;
	margin-top: 20px;
}

h1{
	margin: 40px;
	text-align: left;
}

.t-box{
	position: relative;
	height: auto;
	display: flex;
	margin: 60px 0;
}

.allan{
	margin-bottom: 0;
}

.info-box{
	width: 75%;
	position: relative;
	background-color: #eee;
}

img{
	width: 25%;
	height:auto;
}

.info-box p:nth-child(2){
	margin-bottom: 0;
}

.info-box p:nth-child(4){
	margin-top: 50px;
}


/*hr{
	position: absolute;
	width: 30%;
	margin-left: 40px;
}*/

.date{
	padding-bottom: 10px;
	padding-right: 30px;
	border-bottom: 1px solid #000;
}


@media only screen and (max-width: 1440px){

	.topo{
		font-size: 25px;
		height: 80px;
	}

	.info-box{
	width: 76%;
    }

	img{
	width: 24%;
    }

}

@media only screen and (max-width: 1024px){

   .t-box{
	flex-direction: column;
	align-items: center;
	background-color: #ddd;
	border:2px solid #000;
    }


    .allan{
    	flex-direction: column-reverse;
    }

    .info-box{
	width: 100%;
    }

    img{
    	width: 50%;
    }

}

@media only screen and (max-width: 670px){

	p{
		text-align: left;
	}

	.topografie{
		flex-direction: column;
	}

	.topo{
		width: 100%;
		font-size: 20px;
	}

	.topo:nth-child(1){
		margin-bottom: 20px;
	}

	.infotext{
		font-size: 14px;
	}

	hr{
		width: 80%;
	}


}

@media only screen and (max-width: 425px){

	img{
    	width: 100%;
    }

    .t-box p, .t-box h1, .t-box span{
    	margin: 25px 10px;
    }

}

@media only screen and (max-width: 340px){
	span{
		font-size: 14px;
	}
}