
#balance{
	display: flex;
	justify-content: space-between;
}

#balance div{
	width: 40%;
	margin-bottom: 30px;
}

#balance p{
	font-weight: 600;
	font-size: 20px;
	padding-left: 20px;
}

ol li{
	padding: 20px;
}

ul li{
	padding: 10px 0 0 0;
}

#balance div:nth-child(1), #balance div:nth-child(2){
	background-color: #ddd;
	padding: 20px;
}

#balance div:nth-child(2){
	background-color: #aaa;
}

figure{
	text-align: center;
}

figure img{
	width: 60vw;
}