
#balance{
	display: flex;
	justify-content: space-between;
}

#balance div{
	width: 48%;
	margin-bottom: 30px;
}

#balance p{
	background-color: rgba(0,0,0,0.8);
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	margin-top: 0; 
	padding: 30px;
}



ol li{
	padding: 20px;
}

ul li{
	padding: 10px 0 0 0;
}

#balance div:nth-child(1), #balance div:nth-child(2){
	background-color: #eee;
	
}

figure{
	text-align: center;
}

figure img{
	width: 60vw;
}