
#balance{

	/*pastreaza pe linie si spatiaza cele doua elemente*/
	display: flex;
	justify-content: space-between;
}

#balance div{

	width: 48%; /*--fiecare element capata o latime delimitata in asa fel incat mereu sa existe o spatiere*/
	margin-bottom: 30px;
}

#balance p{
	background-color: rgba(0,0,0,0.8);
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	margin-top: 0; 
	padding: 30px;
}



ol li{
	padding: 0 20px 20px ;
}

ul li{
	padding: 10px 0 0 0;
}

#balance div:nth-child(1), #balance div:nth-child(2){
	background-color: #eee;
	
}

figure{
	text-align: center;
}

figure img{
	width: 60vw;
}

/*
------------------------------------
Responsive Web Design
------------------------------------ 
*/

@media only screen and (max-width: 1024px){

	/*la aceasta rezolutie cele doua elemente ce contin riscurile si beneficiile se aseaza in coloana pentru a putea fi citite cu usurinta
	fiecare element recapata o latime de 100% din latimea elementului tip parent

	*/


	#balance{
		flex-direction: column;
	}

	#balance div{
		width: 100%;
	}
}
