/*stocheaza culori si alte proprietati sub forma de variabile in asa fel incat acestea sa poata fi folosite mai usor pe parcurs
limiteaza nevoia de copy-paste
*/
:root{
	--favPink:rgb(255, 80, 122);
	--bgCol:rgba(255,255,255,0.7);

	--headerHeight:80px;
	--headerPaddingTopBottom:20px;
}

body{
	margin: 0;
	padding: 0;
	position: relative;
	height: 100vh;
    font-family: "Futura";
    text-align: justify; /*--in lipsa suprascrierii toate textele din pagini vor fi aliniate tip justify*/
}

#headerCont{

	/*explicatii in index.html*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

header{
	height: 80px;
	justify-content: space-between;
	background-color: var(--favPink);
	display: flex;
	align-items: flex-end; /*--aseaza elementele in partea de jos pe verticala a header-ului; proprietatea se va schimba odata cu micsorarea rezolutiei*/
	font-size: 35px;
	color: #fff;
	padding: var(--headerPaddingTopBottom);
	padding-left: 2in;
	z-index: 2;
	text-align: left;
	font-weight: bold;
}

/*#for-mobile{
	display: none;
}*/


#menu{
   
   display: flex;
   flex-direction: column;
   position: fixed;
   z-index: 3;
   justify-content: center;
   height: 100vh;
   /*background-color: rgba(255,255,255,0.7);*/

}

#mobile-menu{
	z-index: 2;
}

.fa-bars{
	margin-left: 30px;
	font-size: 30px;
	display: none;
}

.fa-bars:hover{
	cursor: pointer;
}

#mobile-menu{
   position: relative;
   width: 100vw;
   justify-content: flex-start;
   height: auto;
   display: none;

}

#mobile-menu a{
	font-family: "Futura";
	background-color: rgba(255,255,255,0.9);
	display: flex;
	text-decoration: none;
	padding: 15px;
	padding-left: 0.5in;
	border-bottom: 1px solid #000;
	color: #000;
}

#mobile-menu a:hover{
	background-color: var(--favPink);
	color: #fff;
}


.menuElement{
	display: flex;
	width: 75px;
	height: 75px;
	background-color: rgba(185,197,210, 0.7);
	margin: 2px 0;
	color:#fff;
	font-size: 40px;
	align-items: center;
	justify-content: center;
}

.menuElementExp{
	font-size: 18px;
	font-weight: 500;
	width: 300px;
	height: 75px;
	margin: 2px 0;
	padding: 0 20px;
	display: flex;
	align-items: center;
	color:#000;
	background-color: rgba(255,255,255,0.8);
	display: none;

}


.menuElementExp:hover, .menuElement:hover{
	color: rgb(255, 62, 108);
	cursor: pointer;
}

#menu a {
	display: flex;
	text-decoration: none;
}

#content{
	background-color: var(--bgCol)/*rgba(255,255,255,0.7)*/;
	/*margin-top: 100px;*/
	/*padding: 40px;
	padding-left: 120px;*/
	padding: 2in 2in 30px;
}


#contentOverlay{
	display: flex;
	position: fixed;
	z-index: 1;
	width: 100vw;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	display: none;
}

/*
------------------------------------
Responsive Web Design
------------------------------------ 
*/

@media only screen and (max-width: 1440px){

    header{
	font-size: 30px;
	padding-left: 1in;
}


    .menuElement{
    	width: 60px;
    	height: 60px;
    	font-size: 35px;
    }

    .menuElementExp{
    	font-size: 16px;
    	height: 60px;
    }


    #content{
    	padding: 1.5in 1in 30px;
    }
    
}


@media only screen and (max-width: 1024px){

	#menu{
		display: none;
	}

	.fa-bars{
		display: block;
	}
   
    #for-mobile{
    	display: block;
    }

    header{
    height: auto;
	font-size: 22px;
	padding-left: 0.5in;
	align-items: flex-start;
	--headerPaddingTopBottom:30px;
	padding: var(--headerPaddingTopBottom);
    }


    #content{
    	padding: 1.5in 0.5in 30px;
    }


}

@media only screen and (max-width: 725px){
	header{
	padding-left: 0.3in;
    }


    #content{
    	padding: 1.25in 0.3in 20px;
    }

    .fa-bars{
	width: 30px;
	height: 30px;
	font-size: 25px;
}

}

@media only screen and (max-width: 670px){

    #content{
    	padding: 1.6in 0.3in 20px;
    }

    .fa-bars{
	width: 30px;
	height: 30px;
	font-size: 25px;
}

}

@media only screen and (max-width: 425px){

	header{
	align-items:  center;
	font-size: 20px;
	padding: 20px 10px;
    }

	body{
		text-align: left;
	}

	#content{
    	padding: 1.6in 0.2in 20px;
    }
}

