:root{
	--favPink:rgb(255, 80, 122);
	--bgCol:rgba(255,255,255,0.7);
}

body{
	margin: 0;
	padding: 0;
	position: relative;
	height: 100vh;
    font-family: "Futura";
    text-align: justify;
}

header{

	position: fixed;
	z-index: 2;
	width: calc(100vw - 140px);
    height:80px;
	background-color: var(--favPink);
	display: flex;
	align-items: flex-end;
	font-size: 35px;
	color: #fff;
	padding: 20px;
	letter-spacing: 1px;
	padding-left: 2in;
}


#menu{
   
   display: flex;
   flex-direction: column;
   position: fixed;
   z-index: 3;
   justify-content: center;
   height: 100vh;
   /*background-color: rgba(255,255,255,0.7);*/

}


.menuElement{
	display: flex;
	width: 75px;
	height: 75px;
	background-color: rgba(185,197,210, 0.7);
	margin: 2px 0;
	color:#fff;
	font-size: 40px;
	align-items: center;
	justify-content: center;
}

.menuElementExp{
	font-size: 18px;
	font-weight: 500;
	width: 300px;
	height: 75px;
	margin: 2px 0;
	padding: 0 20px;
	display: flex;
	align-items: center;
	color:#000;
	background-color: rgba(255,255,255,0.8);
	display: none;

}


.menuElementExp:hover, .menuElement:hover{
	color: rgb(255, 62, 108);
	cursor: pointer;
}

#menu a {
	display: flex;
	text-decoration: none;
}

#content{
	background-color: var(--bgCol)/*rgba(255,255,255,0.7)*/;
	position: relative;
	/*margin-top: 100px;*/
	/*padding: 40px;
	padding-left: 120px;*/
	padding: 2in;
}


#contentOverlay{
	display: flex;
	position: fixed;
	z-index: 2;
	width: 100vw;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	display: none;
}
